*{
    box-sizing: border-box;
}
body.dark-mode{
    background-color: #e67694;
    color: #523333;
}
body.dark-mode a{
    color: #f5b7c0;
}
body.dark-mode button{
background-color: #31191a;
color: #A0445D;
}
body.light-mode{
    background-color: #31191a;
    color: #af5154;
}
body.light-mode a{
    color: #A0445D;
}
body.light-mode button{
    background-color: #A0445D;
    color: #31191a;
}
ul{
    margin: 0;
    padding: 0;
    list-style-type: none;

}
ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px ; 
    margin: 12px;
    background: #F3B6B6;
    font-size: 18px;
    transition: 0.2s;

   
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}
ul li:nth-child(odd){
    background: #f78689;
}
ul li:hover{
    background: #A0445D;
}
ul li.checked{
    background: #CB5C64;
    color: aliceblue;
    text-decoration: line-through;
}
ul li.checked::before{
    content: '';
    position: absolute;
    border-color: antiquewhite;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 16px;
    width: 7px;
}
/*close btn*/ 
.close{
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}
.close:hover{
    background-color: azure;
    color: #F4DADB;
}
/*header*/ 
.header{
    background-color: #fba4a6;
    padding: 30px 40px; 
    color: #A0445D;
    text-align: center;
    
}
/*floats after the header*/ 
.header::after{
    content: "";
    display: table;
    clear: both;
}
/*style input*/ 
input{
    margin: 0;
    border: none;
    border-radius: 3px;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;


}
/*style add btn*/ 
.addBtn{
    padding: 10px;
    width: 25%;
    background: #f78689;
    color: aliceblue;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 3px;

}
.addBtn:hover{
    background-color: #af5154;
}